@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
                url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

/* Class to trigger when leaving */
.fade-out {
    opacity: 0 !important;
}

@keyframes fadeInPage {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.left {
    flex: 0 0 550px; 
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 50px;
    color: white;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

.logo {
    display: block;
    width: 130px; 
    margin: 0 auto 30px auto;
}

.left h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 25px;
    opacity: 0.8;
}

label {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    margin-left: 15px;
}

input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    background: rgba(217, 217, 217, 0.9);
    margin-bottom: 18px;
    font-size: 0.85rem;
    outline: none;
    color: #333;
}

button#forgotBtn {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: #0d2137;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

button#forgotBtn:hover {
    background: #1a3a5f;
    transform: translateY(-2px);
}

.back-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.85rem;
}

.back-link a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.back-link a:hover {
    text-decoration: underline;
}

.peek-water{
    position: absolute;
    width: 120px;
    right: -35px;
    top: 40px;
    animation: peekTop 2.5s ease-in-out infinite;
}

@keyframes peekTop{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(12px);
    }
}